body {
            
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecbebe;
    display: flex; /* usa o modelo Flex Box*/
    align-items: center; /* Centraliza Verticalmente */
    justify-content: center; /* Centraliza Horizontalmente*/
    height: 100vh;
}
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background: #dccdf4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #f3a4b8;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #333;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}